---
layout: default
---



  <header class="site-masthead">
    {% include menu.html %}
    
    {% if site.title %}
      <h2>
        {{ site.description }}
      </h2>
    {% endif %}
  </header>


<main class="home" id="main" role="main" aria-label="Content">

  {{content}}
    
  <div class="mypic"></div>

  In 2012, I earned a double degree: an Electrical Engineering degree in Communications and Networks from Toulouse <a href="https://www.enseeiht.fr/en/enseeiht.html">ENSEEIHT</a> and a Research Master degree in Telecommunications from <a href="https://www.inp-toulouse.fr/en/reasons-to-come.html">Institut National Polytechnique de Toulouse</a>.<br>
 
  Driven by the challenges of digital communications and coding theory in the context of satellite communications, I pursued a PhD funded by the <a href="https://cnes.fr/en/web/CNES-en/3773-about-cnes.php">French Space Agency (CNES)</a> and <a href="https://www.thalesgroup.com/en/global/activities/space">Thales Alenia Space</a>. My doctoral research, conducted within the Signal and Communication Group at <a href="https://www.irit.fr/en/laboratory/laboratory-presentation/">IRIT</a>, focused on the design and the optimization of sparse graph-based error correction coding schemes for continuous phase modulations. This work bridged the gap between receiver complexity trade-offs and the joint optimizations of channel coding and modulation for satellite return links.<br>
 
  Following my PhD, I joined <a href="https://www.imt-atlantique.fr/en/about">IMT Atlantique</a> as an Assistant Professor (Maître de conférence) from 2016 to 2020, where I had both pedagogical responsibilities and advanced research activities in digital communications applied to satellite communications.<br>
 
  Since 2020, I joined <a href="https://www.thalesgroup.com/en/global/activities/space">Thales Alenia Space</a> as an R&D Engineer in the emerging field of Satellite Optical Communications. In this role, I architect physical layer solutions and end-to-end system design for very high-throughput optical feeder links. This position allows me to bridge the gap between academic theory and rigor with the industrial constraints and applications.
</main>