<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Tarik Benaddi website.'>
    <meta name='keywords' content='{{ page.keywords }}'>
    <meta name='author' content='Tarik Benaddi'>

    <link href='/css/blog.css' rel='stylesheet'/>
    <link href='/css/trac.css' rel='stylesheet'/>
    <link href='/css/markdown.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body>
<div class='content'>
    {% include nav.html %}
    <div id='posts' class='section'>
        <div class='wrap'>
            <h2>{{ page.title }}</h2>
        </div>

        <div class='wrap article'>
            {{ content }}
        </div>
    </div>

    <div align="center" class="not-active">
        <div class="clip-circle">
        <div id="globe">
            <script type="text/javascript" src="//rf.revolvermaps.com/0/0/2.js?i=57txnb05u31&amp;m=0&amp;s=178&amp;c=ff0000&amp;t=1" async="async"></script>
        </div>
        </div>
    </div>
    
</div>




</body>
</html>